<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.clawdstacc.codeserver</string>

  <key>ProgramArguments</key>
  <array>
    <string>__BREW_PREFIX__/bin/code-server</string>
    <string>--bind-addr</string><string>__CODESERVER_BIND__</string>
    <string>--auth</string><string>__CODESERVER_AUTH__</string>
    <string>__USER_HOME__</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/codeserver.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/codeserver.err</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__BREW_PREFIX__/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>__USER_HOME__</string>
    <key>PASSWORD</key>
    <string>__CODESERVER_PASSWORD__</string>
  </dict>
</dict>
</plist>
